
# IntelliJ
.idea/
build/
out/

# Mac
**/.DS_Store

# Gradle
.gradle/
gradle/
gradlew
gradlew.bat

# Saved data
SurrenderUpdates.txt
TwitchStreamers.txt
mylobot.properties
Music

# Will add later; empty and useless right now
src/test/
