
# IntelliJ
.idea/
build/
out/

# Mac
**/.DS_Store

# Gradle
.gradle/
gradle/
gradlew
gradlew.bat

# Saved data
SurrenderUpdates.txt
TwitchStreamers.txt
mylobot.properties

# Will add later; empty and useless right now
src/test/
src/main/resources/*.gif
src/main/resources/*.jpg
src/main/resources/*.png
